body {
	border-top: 4px solid #447;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.clear {
  border: none;
  clear: both;
}

#site-header {
  background: #e9ebef;
  border-bottom: 1px solid #e0e2e6;
  margin-bottom: 10px;
}

#site-header h1 {
  display: inline-block;
  margin: 10px 0 10px 0;
}

#site-header nav {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 0 0 0 10px;
}

#site-header h1 small {
  color: #89a;
  padding: 0 0 0 10px;
}

#page-header h1 {
  color: #456;
  font-size: 24px;
}

#page-header p {
  color: #678;
  font-size: 18px;
}


#code,.CodeMirror {
	background: #efefef;
	border-radius: 2px;
	width: 49%;
	float: left;
}

#result {
	width: 49%;
	float: right;
}

#result pre {
  font-size: 12px;
  margin: 0 0 3px 0;
}

a.button {
  display: inline-block;
  cursor: pointer;
  padding: 7px 10px;
  color: white;
  background: #345;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

a.button:hover {
  background: #89a;

};